

<div class="card mt-7 py-3 mx-3 border-0">
    <p class="fw-medium ml-3">ToolBar</p>

<div class="card custom-card-toolbar mx-3">
  <p-toolbar>
    <ng-template pTemplate="left">
      <button pButton icon="pi pi-plus" class="p-button-text p-button-sm text-dark"></button>
      <button pButton icon="pi pi-table" class="p-button-text p-button-sm text-dark"></button>
      <button pButton icon="pi pi-download" class="p-button-text p-button-sm text-dark"></button>
    </ng-template>

  <ng-template pTemplate="center">
  <span class="p-input-icon-left search-bar">
    <i class="pi pi-search text-sm"></i>
    <input pInputText type="text" placeholder="Search" class="custom-input form-control" />
  </span>
</ng-template>
<ng-template pTemplate="right">

</ng-template>
  </p-toolbar>
</div>
</div>


