<!-- topbar.component.html -->
<!-- <p-menubar class="bg-transparent shadow-sm fixed w-100">
    <ng-template pTemplate="start">
      <button pButton icon="pi pi-bars" class="p-button-text mr-2"></button>
      <img src="https://img.freepik.com/free-vector/blue-wavy-forms-transparent-background_1035-6744.jpg?ga=GA1.1.641729618.1683299186&semt=ais_hybrid&w=740" alt="logo" height="30" class="mr-2">
      <span class="font-bold text-xl">SAKAI</span>
    </ng-template>
  
    <ng-template pTemplate="end">
      <button pButton icon="pi pi-sun" class="p-button-text mr-2"></button>
      <button pButton icon="pi pi-palette" class="p-button-rounded p-button-success mr-2"></button>
      <button pButton icon="pi pi-calendar" class="p-button-text mr-2"></button>
      <button pButton icon="pi pi-inbox" class="p-button-text mr-2"></button>
      <button pButton icon="pi pi-user" class="p-button-text mr-2"></button>
      
    </ng-template>
  </p-menubar> -->



  <p-menubar class="bg-transparent shadow-sm fixed w-100 border-0 z-4">
    <ng-template pTemplate="start">
      <!-- <button pButton icon="pi pi-bars" class="p-button-text mr-2"></button> -->
      <button
      pButton
      icon="pi pi-bars"
      class="p-button-text mr-2"
      (click)="onToggleSidebar()"
    ></button>

      <img src="https://img.freepik.com/free-vector/blue-wavy-forms-transparent-background_1035-6744.jpg?ga=GA1.1.641729618.1683299186&semt=ais_hybrid&w=740" alt="logo" height="30" class="mr-2" />
      <span class="font-bold text-xl">SAKAI</span>
    </ng-template>
  
    <ng-template pTemplate="end">
      <button pButton icon="pi pi-sun" class="p-button-text mr-2"></button>
      <button pButton icon="pi pi-palette" class="p-button-rounded p-button-success mr-2"></button>
      <button pButton icon="pi pi-calendar" class="p-button-text mr-2"></button>
      <button pButton icon="pi pi-inbox" class="p-button-text mr-2"></button>
      <button pButton icon="pi pi-user" class="p-button-text mr-2"></button>
    </ng-template>
  </p-menubar>
  
  