

<div class="row mx-2">
    <div class="col-12 mt-7">
        <p-card class="">
<div class="mx-2">
    <p-toast></p-toast>
<!-- <p-toolbar class="mb-6">
  <ng-template pTemplate="start">
    <div class="flex gap-2 w-full">
      <p-button label="New" icon="pi pi-plus" class="btn-full" (onClick)="openNew()"></p-button>
      <p-button severity="danger" outlined label="Delete" icon="pi pi-trash" class="btn-full"
        [outlined]="false"
        (onClick)="deleteSelectedProducts()"
        [disabled]="!selectedProducts || !selectedProducts.length">
      </p-button>
    </div>
  </ng-template>
</p-toolbar> -->
    <div class="flex gap-2 w-full rounded shadow-sm rounded border p-3 my-3">
      <p-button label="New" icon="pi pi-plus" class="btn-full" (onClick)="openNew()"></p-button>
      <p-button severity="danger" outlined label="Delete" icon="pi pi-trash" class="btn-full"
        [outlined]="false"
        (onClick)="deleteSelectedProducts()"
        [disabled]="!selectedProducts || !selectedProducts.length">
      </p-button>
    </div>
        <ng-template pTemplate="caption">
            <div class="flex items-center justify-between">
                <h5 class="m-0">Manage Products</h5>
            </div>
        </ng-template>
    <p-table #dt [value]="products" [rows]="10" [paginator]="true"
        [globalFilterFields]="['name', 'code', 'category', 'inventoryStatus']" [tableStyle]="{ 'min-width': '75rem' }"
        [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
        tableStyleClass="p-datatable-sm custom-table" class="shadow-md rounded-lg">


        <ng-template pTemplate="header">
            <tr>
                <th style="width: 2rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th style="min-width: 12rem">Code</th>
                <th pSortableColumn="name" style="min-width: 16rem">
                    Name
                    <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th>Image</th>
                <th pSortableColumn="price" style="min-width: 8rem">
                    Price
                    <p-sortIcon field="price"></p-sortIcon>
                </th>
                <th pSortableColumn="category" style="min-width: 10rem">
                    Category
                    <p-sortIcon field="category"></p-sortIcon>
                </th>
                <th pSortableColumn="rating" style="min-width: 12rem">
                    Reviews
                    <p-sortIcon field="rating"></p-sortIcon>
                </th>
                <th pSortableColumn="inventoryStatus" style="min-width: 12rem">
                    Status
                    <p-sortIcon field="inventoryStatus"></p-sortIcon>
                </th>
                <th style="min-width: 12rem"></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-product>
            <tr>
                <td style="width: 3rem">
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                <td style="min-width: 12rem">{{ product.code }}</td>
                <td style="min-width: 16rem">{{ product.name }}</td>
                <td>
                    <img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image"
                        [alt]="product.name" style="width: 64px" class="rounded" />
                </td>
                <td>{{ product.price | currency: 'USD' }}</td>
                <td>{{ product.category }}</td>
                <td>
                    <p-rating [(ngModel)]="product.rating" class="custom-rating text-xs" [readonly]="true"
                        [cancel]="false"></p-rating>
                </td>
                <td>
                    <p-tag [value]="product.inventoryStatus" class="custom-tag text-xs"
                        [severity]="getSeverity(product.inventoryStatus)"></p-tag>
                </td>

                <td>
                    <p-button icon="pi pi-pencil" class="mr-2 p-0 icon-btn1" [rounded]="true" [outlined]="true"
                        (click)="editProduct(product)"></p-button>
                    <p-button icon="pi pi-trash" severity="danger" [rounded]="true" class="mr-2 p-0 icon-btn"
                        [outlined]="true" (click)="deleteProduct(product)"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <p-dialog [(visible)]="productDialog" [style]="{ width: '450px' }" header="Product Details" [modal]="true">
        <div class="flex flex-col gap-6">
            <img *ngIf="product.image" [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image"
                [alt]="product.name" class="block m-auto pb-4" style="max-width: 150px" />

            <div>
                <label for="name" class="block font-bold mb-3">Name</label>
                <input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus
                    style="width: 100%" />
                <small class="text-red-500" *ngIf="submitted && !product.name">Name is required.</small>
            </div>

            <div>
                <label for="description" class="block font-bold mb-3">Description</label>
                <textarea id="description" pInputTextarea [(ngModel)]="product.description" required rows="3"
                    style="width: 100%"></textarea>
            </div>

            <div>
                <label for="inventoryStatus" class="block font-bold mb-3">Inventory Status</label>
                <p-dropdown [(ngModel)]="product.inventoryStatus" inputId="inventoryStatus" [options]="statuses"
                    optionLabel="label" placeholder="Select a Status"></p-dropdown>
            </div>

            <div>
                <span class="block font-bold mb-4">Category</span>
                <div class="grid grid-cols-12 gap-4">
                    <div class="flex items-center gap-2 col-span-6">
                        <p-radioButton id="category1" name="category" value="Accessories"
                            [(ngModel)]="product.category"></p-radioButton>
                        <label for="category1">Accessories</label>
                    </div>
                    <div class="flex items-center gap-2 col-span-6">
                        <p-radioButton id="category2" name="category" value="Clothing"
                            [(ngModel)]="product.category"></p-radioButton>
                        <label for="category2">Clothing</label>
                    </div>
                    <div class="flex items-center gap-2 col-span-6">
                        <p-radioButton id="category3" name="category" value="Electronics"
                            [(ngModel)]="product.category"></p-radioButton>
                        <label for="category3">Electronics</label>
                    </div>
                    <div class="flex items-center gap-2 col-span-6">
                        <p-radioButton id="category4" name="category" value="Fitness"
                            [(ngModel)]="product.category"></p-radioButton>
                        <label for="category4">Fitness</label>
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-6">
                    <label for="price" class="block font-bold mb-3">Price</label>
                    <p-inputNumber id="price" [(ngModel)]="product.price" mode="currency" currency="USD"
                        locale="en-US"></p-inputNumber>
                </div>
                <div class="col-span-6">
                    <label for="quantity" class="block font-bold mb-3">Quantity</label>
                    <p-inputNumber id="quantity" [(ngModel)]="product.quantity"></p-inputNumber>
                </div>
            </div>
        </div>

        <p-footer>
            <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()"></p-button>
            <p-button label="Save" icon="pi pi-check" (click)="saveProduct()"></p-button>
        </p-footer>
    </p-dialog>

    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</div>
        </p-card>
    </div>
</div>

