 <div class="col-12">

< <div class="grid mt-4 row">
  <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-11 mt-2" *ngFor="let card of cards">
    <p-card class="shadow-sm">
      <div class="flex justify-content-between align-items-center">
        <div>
          <p class="text-800 font-medium text-sm m-0 mb-1">{{ card.title }}</p>
          <p class="text-900 font-medium text-lg m-0">{{ card.value }}</p>
          <p class="text-green-500 text-sm mt-1">{{ card.subtext }}</p>
        </div>
        <div [ngClass]="card.iconBg" class="border-round p-2">
          <i [class]="card.icon" class="text-lg"></i>
        </div>
      </div>
    </p-card>
  </div>
</div>  




  <!-- chart -->
<div class="col-12"> 
   <div class="p-grid row mt-4" >
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 mt-2">
      <app-chart></app-chart>
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 mt-2">
      <div class="card border-0 shadow-sm py-5 px-3">
        <p-chart type="bar" [data]="data" [options]="options" style="height: 350px"></p-chart>
      </div>
    </div>
  </div>
</div>



<div class="col-12"> 
  <div class="p-grid row mt-4" >
   <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 mt-2 rounded">
    <p-card class="">
      <div *ngFor="let item of progressItems" class="grid align-items-center mb-3">
        <!-- Left Column: Name and Category -->
        <div class="col-6">
          <div class="progressbar font-bold text-900">{{ item.name }}</div>
          <small class="text-600">{{ item.category }}</small>
        </div>
    
        <!-- Right Column: Progress Bar + % -->
        <div class="col-6 flex justify-content-end align-items-center gap-2">
          <p-progressBar 
            [value]="item.percent" 
            [style]="{ width: '100px', height: '8px' }"
            [styleClass]="item.colorClass"
            [showValue]="false"
          ></p-progressBar>
          <div class="text-sm text-900">{{ item.percent }}%</div>
        </div>
      </div>
    </p-card>
    
   </div>
   <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 mt-2 rounded">
     <p-card>
      <h6 class="fw-bold">Recent Sales</h6>
      <p-table
        [value]="products"
        [paginator]="true"
        [rows]="5"
        responsiveLayout="scroll"
        [showCurrentPageReport]="false"
        class="rounded p-0 font-medium text-xs"
      >
        <ng-template  pTemplate="header" class="bg-white">
          <tr>
            <th>Image</th>
            <th>Name <i class="pi pi-sort-alt"></i></th>
            <th>Price <i class="pi pi-sort-alt"></i></th>
            <th>View</th>
          </tr>
        </ng-template>
    
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>
              <img [src]="product.image" alt="{{ product.name }}" width="40" />
            </td>
            <td>{{ product.name }}</td>
            <td>${{ product.price }}</td>
            <td>
              <i class="pi pi-search cursor-pointer" aria-hidden="true"></i>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card> 
   </div>
  </div>
</div>




