   
<!-- 
   <app-header></app-header>
   <div class="container">
      <div class="row">
         <div class="col-3">
            <app-sidebar></app-sidebar>
         </div>
         <div class="col-9">
            <app-home></app-home>
         </div>
      </div>
   </div> -->


   <app-header></app-header>

<div class="flex">
  <!-- Sidebar -->
  <div class="w-18rem">
    <app-sidebar></app-sidebar>
  </div>

  <!-- Main Content -->
  <div class="flex-1 p-3 ml-3">
    <app-home></app-home>
  </div>
</div>

   
