   
<!-- 
   <app-header></app-header>
   <div class="container">
      <div class="row">
         <div class="col-3">
            <app-sidebar></app-sidebar>
         </div>
         <div class="col-9">
            <app-home></app-home>
         </div>
      </div>
   </div> -->

<!-- <app-header (toggleSidebar)="toggleSidebar()"></app-header>



   <div class="flex">
      <div class="w-18rem hidden lg:block" [class.hidden]="!isSidebarVisible">
        <app-sidebar></app-sidebar>
      </div>
      <div class="flex-1 p-3 transition-all duration-300" [class.w-full]="!isSidebarVisible">
        <app-home></app-home>
      </div>
    </div>  -->

<!-- <div class="flex">
  <div class="w-18rem">
    <app-sidebar></app-sidebar>
  </div>
  <div class="flex-1 p-3 ml-3">
    <app-home></app-home>
  </div>
</div> -->

   
<!-- 
<app-header (toggleSidebar)="toggleSidebar()"></app-header>

<div class="layout">
  <div class="sidebar" [class.sidebar-hidden]="!isSidebarVisible">
   <app-sidebar></app-sidebar>
 </div>
  <div class="main-content" [class.full-width]="!isSidebarVisible">
    <app-home></app-home>
  </div>
</div> -->


<app-header (toggleSidebar)="toggleSidebar()" *ngIf="!hideLayout"></app-header>

<div style="display: flex; height: 100vh;">
  <div
    [style.width]="isSidebarVisible ? '18rem' : '0'"
    style=" overflow: hidden; transition: width 0.3s ease;" *ngIf="!hideLayout"
  >
    <p *ngIf="isSidebarVisible" style="padding: 1rem;"><app-sidebar></app-sidebar></p>
  </div>
  <div
    [style.width]="isSidebarVisible ? 'calc(100% - 18rem)' : '100%'"
    style="padding: 1rem; transition: width 0.3s ease;"
  >
    <!-- <app-home></app-home> -->
    <router-outlet></router-outlet>
  </div>
</div>








